* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightgreen;
    height: 75px;
}

nav {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    margin-right: 20px;
}

main {
    margin-top: 20px;
}

.container {
    margin: auto;
    width: 500px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-text {
    height: 35px;
    width: 100%;
    background-color: lightpink;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2em;
}

button {
    height: 35px;
    width: 70px;
    background-color: lightgray;
    border: none;
    margin-left: 5px;
    border-radius: 20px;
    cursor: pointer;
}

li {
    list-style-type: none;
    background-color: lightcyan;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px 10px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
}

.fa-solid {
    cursor: pointer;
}